html{
  background: #ddd;
}

body{
  margin: 0px;
}

.mainNav{
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainNav li{
  float: left;
}

.mainNav li :hover{
  background: #b3b3b3;
}

.mainNav li a{
  text-decoration: none;
  padding: 20px;
  padding-bottom: 10px;
}

.pageContent{
  margin-left: 10px;
}
